<div class="padded" style="text-align: center;">
  <h1>
    Infrastructure as code
  </h1>

  <h3>
    Nebraska Code Camp. May 18, 2016.
  </h3>

  <h4>
    Brandon Williams
    <a style="color: black;" href="https://twitter.com/williamsbdev">@williamsbdev</a>
  </h4>
</div>

