<div class="padded">
  <h3>In Summary</h3>

  <div class="row">
    <div class="six columns">
      <h4>Things that used to <strong>suck</strong>:</h4>
      <h5>1. Unknown code origins</h5>
      <h5>2. Unrepeatable server states</h5>
    </div>
    <div class="six columns">
      <h4>Things that <strong>rock</strong>:</h4>
      <h5>1. Known source code</h5>
      <h5>2. Predictable/repeatable server states</h5>
    </div>
  </div>
</div>

